@import "./mixin";

h1 {
  font-family: $font-stack;
  font-size: 10em;
  color: $primary-color;
  background-color: $secondary-color;
}

p {
  @include test ();
}

body {
  background-color: $background-color;
}